1/ Write a code to reverse a string.

In [ ]:
def reverse_string(s):
  return s[::-1]

s = "Hello, World!"
reversed_s = reverse_string(s)
print(reversed_s)

!dlroW ,olleH

2/Write a code to count the number of vowels in a string.

In [ ]:
def count_vowels(string):
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in string:
    if char in vowels:
      vowel_count += 1
  return vowel_count

# Example usage:
string = "Hello, World!"
num_vowels = count_vowels(string)
print(num_vowels)  # Output: 3

3

3/Write a code to check if a given string is a palindrome or not

In [ ]:
def is_palindrome(s):
  s = s.lower()  # Convert to lowercase for case-insensitive comparison
  return s == s[::-1]  # Compare the string with its reverse

# Example usage:
string1 = "racecar"
string2 = "hello"

print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")  # Output: True
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")  # Output: False

'racecar' is a palindrome: True
'hello' is a palindrome: False

4/  Write a code to check if two given strings are anagrams of each other

In [ ]:
def is_anagram(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "listen"
string2 = "silent"
string3 = "hello"

print(f"'{string1}' and '{string2}' are anagrams: {is_anagram(string1, string2)}")  # Output: True
print(f"'{string1}' and '{string3}' are anagrams: {is_anagram(string1, string3)}")  # Output: False

'listen' and 'silent' are anagrams: True
'listen' and 'hello' are anagrams: False

5/Write a code to find all occurrences of a given substring within another string.

In [ ]:
import re

def find_all_occurrences(string, substring):
  """Finds all occurrences of a substring within a string.

  Args:
    string: The string to search within.
    substring: The substring to search for.

  Returns:
    A list of the starting indices of all occurrences of the substring
    within the string.
  """
  return [m.start() for m in re.finditer(f'(?={substring})', string)]

# Example usage
string = "This is a test string. Test again."
substring = "test"
occurrences = find_all_occurrences(string, substring)
print(occurrences)  # Output: [10, 21]

[10]

6/Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(text):
    if not text:
        return ""

    compressed = ""
    count = 1
    for i in range(len(text) - 1):
        if text[i] == text[i + 1]:
            count += 1
        else:
            compressed += text[i] + (str(count) if count > 1 else "")
            count = 1

    compressed += text[-1] + (str(count) if count > 1 else "")
    return compressed


# Example usage:
string = "aabcccccaaa"
compressed_string = compress_string(string)
print(compressed_string)

a2bc5a3

7/ Write a code to determine if a string has all unique characters

In [ ]:
def has_unique_chars(string):
  """Checks if a string has all unique characters.

  Args:
    string: The string to check.

  Returns:
    True if the string has all unique characters, False otherwise.
  """
  return len(set(string)) == len(string)

# Example usage:
string1 = "abcdefg"
string2 = "abacdef"

print(f"'{string1}' has all unique characters: {has_unique_chars(string1)}")
print(f"'{string2}' has all unique characters: {has_unique_chars(string2)}")

'abcdefg' has all unique characters: True
'abacdef' has all unique characters: False

8/ Write a code to convert a given string to uppercase or lowercase

In [ ]:
def convert_case(string, to_uppercase=True):
  """Converts a string to uppercase or lowercase.

  Args:
    string: The string to convert.
    to_uppercase: A boolean indicating whether to convert to uppercase (True)
      or lowercase (False). Defaults to True.

  Returns:
    The converted string.
  """
  if to_uppercase:
    return string.upper()
  else:
    return string.lower()

# Example usage
string = "Hello, World!"

uppercase_string = convert_case(string)
print(uppercase_string)

lowercase_string = convert_case(string, to_uppercase=False)
print(lowercase_string)

HELLO, WORLD!
hello, world!

9/Write a code to count the number of words in a string

In [ ]:
import re

def count_words(string):
  """Counts the number of words in a string.

  Args:
    string: The string to count words in.

  Returns:
    The number of words in the string.
  """
  words = re.findall(r'\b\w+\b', string)
  return len(words)

# Example usage
string = "This is a test string."
word_count = count_words(string)
print(word_count)

5

10/ Write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate_strings(str1, str2):
  """Concatenates two strings without using the + operator.

  Args:
    str1: The first string.
    str2: The second string.

  Returns:
    The concatenated string.
  """
  return f"{str1}{str2}"

# Example usage
string1 = "Hello"
string2 = "World"
concatenated_string = concatenate_strings(string1, string2)
print(concatenated_string)

HelloWorld

11/Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_all_occurrences(lst, element):
  """Removes all occurrences of a specific element from a list.

  Args:
    lst: The list to remove elements from.
    element: The element to remove.

  Returns:
    A new list with all occurrences of the element removed.
  """
  return [x for x in lst if x != element]

# Example usage:
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print(new_list)

[1, 3, 4, 5]

12/Implement a code to find the second largest number in a given list of integers.

In [ ]:
def find_second_largest(numbers):
  """Finds the second largest number in a list of integers.

  Args:
    numbers: A list of integers.

  Returns:
    The second largest number in the list, or None if the list has fewer than 2 elements.
  """
  if len(numbers) < 2:
    return None


  unique_numbers = sorted(list(set(numbers)), reverse=True)

  if len(unique_numbers) >= 2:
    return unique_numbers[1]
  else:
    return None

# Example usage
numbers = [1, 5, 2, 5, 3, 4]
second_largest = find_second_largest(numbers)
print(second_largest)

4

13/Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [ ]:
def count_occurrences(lst):
  """Counts the occurrences of each element in a list.

  Args:
    lst: The list to count elements in.

  Returns:
    A dictionary with elements as keys and their counts as values.
  """
  occurrences = {}
  for element in lst:
    occurrences[element] = occurrences.get(element, 0) + 1
  return occurrences

# Example usage:
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
element_counts = count_occurrences(my_list)
print(element_counts)

{1: 1, 2: 2, 3: 3, 4: 4}

14/Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverse_list_in_place(lst):
  """Reverses a list in-place without using built-in reverse functions.

  Args:
    lst: The list to reverse.
  """
  start = 0
  end = len(lst) - 1
  while start < end:
    lst[start], lst[end] = lst[end], lst[start]  # Swap elements
    start += 1
    end -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

15/  Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [ ]:
def remove_duplicates_preserve_order(lst):
  """Removes duplicates from a list while preserving the original order.

  Args:
    lst: The list to remove duplicates from.

  Returns:
    A new list with duplicates removed, preserving the original order.
  """
  seen = set()
  return [x for x in lst if not (x in seen or seen.add(x))]

# Example usage:
my_list = [1, 2, 2, 3, 4, 4, 5]
new_list = remove_duplicates_preserve_order(my_list)
print(new_list)

[1, 2, 3, 4, 5]

16/ Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def is_sorted(lst):
  """Checks if a list is sorted (either ascending or descending).

  Args:
    lst: The list to check.

  Returns:
    True if the list is sorted, False otherwise.
  """
  is_ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
  is_descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
  return is_ascending or is_descending

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
list3 = [1, 3, 2, 4, 5]

print(f"list1 is sorted: {is_sorted(list1)}")
print(f"list2 is sorted: {is_sorted(list2)}")
print(f"list3 is sorted: {is_sorted(list3)}")

list1 is sorted: True
list2 is sorted: True
list3 is sorted: False

17/ Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
  merged_list = []
  i = j = 0

  while i < len(list1) and j < len(list2):
    if list1[i] <= list2[j]:
      merged_list.append(list1[i])
      i += 1
    else:
      merged_list.append(list2[j])
      j += 1

  # Add any remaining elements from list1 or list2
  merged_list.extend(list1[i:])
  merged_list.extend(list2[j:])

  return merged_list

# Example usage:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

18/ Implement a code to find the intersection of two given lists.

In [ ]:
def find_intersection(list1, list2):
  set1 = set(list1)
  set2 = set(list2)

  # Find the intersection using the & operator
  intersection_set = set1 & set2

  # Convert the intersection set back to a list
  intersection_list = list(intersection_set)

  return intersection_list

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]
intersection = find_intersection(list1, list2)
print(intersection)

[3, 5]

19/ Create a code to find the union of two lists without duplicates.

In [ ]:
def find_union(list1, list2):
  """Finds the union of two lists without duplicates.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A new list containing all unique elements from both input lists.
  """
  # Combine both lists and convert to a set to remove duplicates
  union_set = set(list1 + list2)

  # Convert the set back to a list
  union_list = list(union_set)

  return union_list

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]
union = find_union(list1, list2)
print(union)

[1, 2, 3, 4, 5, 6, 7, 8]

20/ Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
def find_common_elements(tuple1, tuple2):
  set1 = set(tuple1)
  set2 = set(tuple2)

  # Find the intersection using the & operator
  common_elements_set = set1 & set2

  # Convert the set back to a tuple
  common_elements_tuple = tuple(common_elements_set)

  return common_elements_tuple

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 5, 6, 7, 8)
common_elements = find_common_elements(tuple1, tuple2)
print(common_elements)

(3, 5)

21/Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
def find_intersection_from_input():
  """Prompts the user for two sets of integers and prints their intersection."""
  try:
    # Get input from the user for the first set
    set1_str = input("Enter the first set of integers separated by commas: ")
    set1 = set(map(int, set1_str.split(',')))

    # Get input from the user for the second set
    set2_str = input("Enter the second set of integers separated by commas: ")
    set2 = set(map(int, set2_str.split(',')))

    # Find the intersection
    intersection = set1 & set2

    # Print the intersection
    print("Intersection:", intersection)

  except ValueError:
    print("Invalid input. Please enter integers separated by commas.")


find_intersection_from_input()

Enter the first set of integers separated by commas: 2,2,4,-6,-5
Enter the second set of integers separated by commas: 3,-5,-9,5,9,2,-4
Intersection: {2, -5}

22/ Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples

In [ ]:
def concatenate_tuples(tuple1, tuple2):
  return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = concatenate_tuples(tuple1, tuple2)
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

23/ Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
def find_difference_from_input():
  """Prompts the user for two sets of strings and prints the difference."""
  try:
    # Get input for the first set of strings
    set1_str = input("Enter the first set of strings separated by commas: ")
    set1 = set(set1_str.split(','))

    # Get input for the second set of strings
    set2_str = input("Enter the second set of strings separated by commas: ")
    set2 = set(set2_str.split(','))

    # Find the difference (elements in set1 but not in set2)
    difference = set1 - set2  # or difference = set1.difference(set2)

    # Print the difference
    print("Elements in the first set but not in the second set:", difference)

  except ValueError:
    print("Invalid input. Please enter strings separated by commas.")


find_difference_from_input()

Enter the first set of strings separated by commas: Ankit,Jubin,Vikas
Enter the second set of strings separated by commas: Monty,Raghav,Mohit
Elements in the first set but not in the second set: {'Vikas', 'Ankit', 'Jubin'}

24/ Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
def slice_tuple(original_tuple, start_index, end_index):
  return original_tuple[start_index:end_index]
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
start_index = 2
end_index = 7
sliced_tuple = slice_tuple(my_tuple, start_index, end_index)
print(sliced_tuple)

(3, 4, 5, 6, 7)

25/ Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
def find_union_of_characters():
  """Prompts the user for two sets of characters and prints their union."""
  try:
    # Get input for the first set of characters
    set1_str = input("Enter the first set of characters separated by commas: ")
    set1 = set(set1_str.replace(" ", "").split(','))  # Remove spaces and split

    # Get input for the second set of characters
    set2_str = input("Enter the second set of characters separated by commas: ")
    set2 = set(set2_str.replace(" ", "").split(','))  # Remove spaces and split

    # Calculate the union
    union_set = set1 | set2  # or union_set = set1.union(set2)

    # Print the union
    print("Union of the two sets:", union_set)

  except ValueError:
    print("Invalid input. Please enter characters separated by commas.")

# Call the function to execute
find_union_of_characters()

Enter the first set of characters separated by commas: a,s,d,f,g,h,j,k,l
Enter the second set of characters separated by commas: a,d,g,j,x,v,n
Union of the two sets: {'f', 'n', 'd', 'h', 's', 'l', 'j', 'x', 'a', 'g', 'v', 'k'}

26/ Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
def find_min_max(numbers):
  """Finds the minimum and maximum values in a tuple of integers.

  Args:
    numbers: A tuple of integers.

  Returns:
    A tuple containing the minimum and maximum values.
  """
  # Use tuple unpacking with * operator and min/max functions
  minimum, maximum = min(numbers), max(numbers)

  return minimum, maximum

# Example usage:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6)
min_value, max_value = find_min_max(my_tuple)
print("Minimum:", min_value)
print("Maximum:", max_value)

Minimum: 1
Maximum: 9

27/ Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
# Define the two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {3, 5, 6, 7, 8}

# Calculate the union
union_set = set1 | set2  # or set1.union(set2)

# Calculate the intersection
intersection_set = set1 & set2  # or set1.intersection(set2)

# Calculate the difference (set1 - set2)
difference_set = set1 - set2  # or set1.difference(set2)

# Print the results
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (set1 - set2):", difference_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {3, 5}
Difference (set1 - set2): {1, 2, 4}

28/ Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
def count_occurrences_in_tuple(my_tuple, element):
  """Counts the occurrences of an element in a tuple.

  Args:
    my_tuple: The tuple to search in.
    element: The element to count occurrences of.

  Returns:
    The number of times the element appears in the tuple.
  """
  return my_tuple.count(element)

# Example usage:
my_tuple = (1, 2, 3, 2, 4, 2, 5)
element_to_count = 2
occurrences = count_occurrences_in_tuple(my_tuple, element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the tuple.")

The element 2 appears 3 times in the tuple.

29/ Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.

In [ ]:
def find_symmetric_difference_from_input():
  """Prompts the user for two sets of strings and prints their symmetric difference."""
  try:
    # Get input for the first set of strings
    set1_str = input("Enter the first set of strings separated by commas: ")
    set1 = set(set1_str.split(','))

    # Get input for the second set of strings
    set2_str = input("Enter the second set of strings separated by commas: ")
    set2 = set(set2_str.split(','))

    # Calculate the symmetric difference
    symmetric_difference = set1 ^ set2  # or symmetric_difference = set1.symmetric_difference(set2)

    # Print the symmetric difference
    print("Symmetric difference of the two sets:", symmetric_difference)

  except ValueError:
    print("Invalid input. Please enter strings separated by commas.")

# Call the function to execute
find_symmetric_difference_from_input()

Enter the first set of strings separated by commas: apple,orange,mango,kiwi
Enter the second set of strings separated by commas: kiwi,grapes,apple
Symmetric difference of the two sets: {'grapes', 'mango', 'orange'}

30/ Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [ ]:
def get_nested_value(data, keys):
  """Accesses a value in a nested dictionary using a list of keys.

  Args:
    data: The nested dictionary.
    keys: A list of keys to access the value.

  Returns:
    The corresponding value if all keys exist, otherwise None.
  """
  current_level = data
  for key in keys:
    if isinstance(current_level, dict) and key in current_level:
      current_level = current_level[key]
    else:
      return None
  return current_level

# Example usage
data = {'a': {'b': {'c': 10}}}
keys = ['a', 'b', 'c']
value = get_nested_value(data, keys)
print(value)

keys = ['a', 'b', 'd']
value = get_nested_value(data, keys)
print(value)

10
None

31/  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [ ]:
def sort_dictionary_by_values(dictionary, reverse=False):
  """Sorts a dictionary by its values.

  Args:
    dictionary: The dictionary to sort.
    reverse: If True, sorts in descending order; otherwise, sorts in ascending order (default).

  Returns:
    A new dictionary sorted by values.
  """
  sorted_items = sorted(dictionary.items(), key=lambda item: item[1], reverse=reverse)
  sorted_dictionary = dict(sorted_items)
  return sorted_dictionary

# Example usage:
my_dictionary = {'apple': 3, 'banana': 1, 'orange': 2}

# Sort in ascending order (default)
sorted_dictionary_asc = sort_dictionary_by_values(my_dictionary)
print("Sorted in ascending order:", sorted_dictionary_asc)


# Sort in descending order
sorted_dictionary_desc = sort_dictionary_by_values(my_dictionary, reverse=True)
print("Sorted in descending order:", sorted_dictionary_desc)

Sorted in ascending order: {'banana': 1, 'orange': 2, 'apple': 3}
Sorted in descending order: {'apple': 3, 'orange': 2, 'banana': 1}

32/ & Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [ ]:
from collections import defaultdict

def invert_dictionary(dictionary):
  inverted_dict = defaultdict(list)
  for key, value in dictionary.items():
    inverted_dict[value].append(key)
  return dict(inverted_dict)

# Example usage:
my_dictionary = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dictionary = invert_dictionary(my_dictionary)
print(inverted_dictionary)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}